html{
    background-color: #274555; 
}
header{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    color: #fdc23e;
    text-align: center;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:  #fdc23e;
    padding: 20px;
    border-radius: 20px;
}
footer{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
a{
    padding: 30px;
    font-size: 2em;
    color: #fdc23e;
    text-decoration: none;
}
a:hover{
    color:  #ff7761;
}
.active{
    color: #f9a11b;
    text-decoration: underline;

}
.bottom{
    word-spacing: 20em;
}